.meetup_details {
    .meetup_detail {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

        .detailImg {
            width: 100%;
        }
    }
}